.Post {
    position: relative;

    width: 100%;

    background-color: var(--gray-800);

    border-radius: 8px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.PublishTime {
    position: absolute;

    top: 59px;
    right: 40px;

    font-size: 0.88rem;
}